<section class="containe-md">
<label class="label dark" for="title">Title:</label>
<input class="input" type="text" id="title">
<label class="label dark" for="author">Author:</label>
<input class="input" type="text" id="author">
<label class="label dark" for="category">Category:</label>
<select class="select" name="" id="category">
    <option value="1">Adventure</option>
    <option value="2">Crime</option>
    <option value="3">Romance</option>
</select>
<button class="btn btn-success">Save New Book</button>
<small class="danger" >Fill all field to save!</small>
</section>